# Backend Environment Variables (for local development)
PORT=8080
DB_URL=jdbc:mysql://localhost:3306/task_manager_db
DB_USERNAME=root
DB_PASSWORD=sachin1605
JWT_SECRET=MySuperSecretKeyForJWTGeneration1234567890
JWT_EXP=86400000

